<h1>運動記録の編集</h1>

<%= form_with(model: @exercise, local: true) do |f| %>

  <div>
    <%= f.label :minutes, "時間（分）" %><br>
    <%= f.number_field :minutes, min: 0 %>
  </div>

  <div>
    <%= f.label :mets, "METS" %><br>
    <%= f.select :mets, [
      ["1.0：座位（座っている状態）", 1.0],
      ["2.8：ゆっくり歩く", 2.8],
      ["3.3：普通歩行", 3.3],
      ["4.3：早歩き", 4.3],
      ["8.0：ランニング（軽め）", 8.0],
      ["10.0：ランニング（中強度）", 10.0],
      ["12.0：ランニング（高強度）", 12.0],
      ["4.0：自転車（軽め）", 4.0],
      ["6.0：自転車（中強度）", 6.0],
      ["8.0：自転車（高強度）", 8.0]
    ], selected: @exercise.mets %>
  </div>

  <p style="margin-top: 10px; font-size: 14px; color: #555;">
    ※ METs（運動強度）とは？<br>
    1.0：座位（座っている状態）<br>
    2.8：ゆっくり歩く<br>
    3.3：普通歩行<br>
    4.3：早歩き<br>
    8.0〜12.0：ランニング<br>
    4.0〜8.0：自転車
  </p>

  <%= f.submit "更新する" %>
<% end %>

<%= link_to "戻る", exercises_path %>
