<h1>運動記録一覧</h1>

<%= link_to "新しい運動を追加する", new_exercise_path %>

<hr>

<% @exercises.each do |ex| %>
  <div style="margin-bottom: 10px;">
    <p>
      <strong><%= ex.created_at.strftime("%Y-%m-%d %H:%M") %></strong><br>
      時間：<%= ex.formatted_time %>  
      / 距離：<%= ex.distance %>km  
      / カロリー：<%= ex.calories %>kcal

    </p>

    <!-- ここに編集ボタンを置く -->
    <%= link_to edit_exercise_path(ex), class: "btn btn-light btn-sm d-inline-flex align-items-center" do %>
  <i class="bi bi-pencil-fill me-1"></i> 編集
<% end %>


    <!-- 削除ボタン -->
    <%= button_to exercise_path(ex),
      method: :delete,
      data: { turbo: "false", turbo_confirm: "削除しますか？" },
      class: "btn btn-light btn-sm d-inline-flex align-items-center" do %>
  <i class="bi bi-trash-fill me-1"></i> 削除
<% end %>

  </div>
  <hr>
<% end %>

